<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<html>
  <body>
    {% if user.is_authenticated %}
    <h3>Welcome, {{ user.username }}!</h3>

    {% if user.medialist_set.all %}
    <h2>My List</h2>
    <div class="row">
      {% for medialist in user.medialist_set.all %} {% for media in medialist.media.all %}
      <div class="col-12 col-md-2">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{{ media.poster_url }}" alt="{{ media.title }}" style="width: 100%" />
          <div class="card-body">
            <h5 class="card-title">{{ media.title }}</h5>
            <p class="card-text">{{ media.description|slice:":100" }}{% if media.description|length > 100 %}...{% endif %}</p>

            {% for rating in media.ratings_set.all %} {% if rating.user == user %}
            <p>Your rating: {{ rating.score }}</p>
            {% endif %} {% endfor %}

            <form action="{% url 'add_rating' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="user_id" value="{{ user.id }}" />
              <input type="hidden" name="media_id" value="{{ media.id }}" />
              <div class="rating">
                <input type="radio" id="star10{{ media.id }}" name="score" value="10" />
                <label for="star10{{ media.id }}" title="10 stars">10 stars</label>
                <input type="radio" id="star9{{ media.id }}" name="score" value="9" />
                <label for="star9{{ media.id }}" title="9 stars">9 stars</label>
                <input type="radio" id="star8{{ media.id }}" name="score" value="8" />
                <label for="star8{{ media.id }}" title="8 stars">8 stars</label>
                <input type="radio" id="star7{{ media.id }}" name="score" value="7" />
                <label for="star7{{ media.id }}" title="7 stars">7 stars</label>
                <input type="radio" id="star6{{ media.id }}" name="score" value="6" />
                <label for="star6{{ media.id }}" title="6 stars">6 stars</label>
                <input type="radio" id="star5{{ media.id }}" name="score" value="5" />
                <label for="star5{{ media.id }}" title="5 stars">5 stars</label>
                <input type="radio" id="star4{{ media.id }}" name="score" value="4" />
                <label for="star4{{ media.id }}" title="4 stars">4 stars</label>
                <input type="radio" id="star3{{ media.id }}" name="score" value="3" />
                <label for="star3{{ media.id }}" title="3 stars">3 stars</label>
                <input type="radio" id="star2{{ media.id }}" name="score" value="2" />
                <label for="star2{{ media.id }}" title="2 stars">2 stars</label>
                <input type="radio" id="star1{{ media.id }}" name="score" value="1" />
                <label for="star1{{ media.id }}" title="1 star">1 star</label>
              </div>
              <button type="submit" class="btn btn-primary">Rate</button>
            </form>
            <form action="{% url 'remove_from_list' medialist.id media.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">X</button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %} {% endfor %}
    </div>
    {% endif %} {% else %}
    <p>Please log in or register</p>
    {% endif %}
  </body>
</html>
{% endblock %}
