{% extends "base.html" %}

{% block content %}
<h1>Top 5 Recommendations for You:</h1>
  <div class="row">
    {% for rec in media %}
      <div class="col-md-2">
        <div class="card mb-2">
          <img class="card-img-top" src="{{ rec.media_poster }}" alt="{{ rec.media_name }}">
          <div class="card-body">
            <h5 class="card-title">{{ rec.media_name }}</h5>
            <p class="card-text">{{ rec.media_description }}</p>
            <p class="card-text">Score: {{ rec.score }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
