.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #0e0e0e;
  color: #fff;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin: 0 0 10px 0;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.content {
  margin-left: 220px;
  padding-top: 10px;
  padding-right: 20px;
}

html body {
  background-color: #ebebeb;
}

html button {
  display: inline-block;
  padding: 7px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

button:active {
  background-color: #005cbf;
}
